<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delegated Context</title>
</head>
<body>
    <div> 
        <p>Welcome to SQL @ViewBag.SqlUserName !</p>
    </div>
</body>
</html>
