@{
    ViewBag.Title = "Home Page";
}

<html>
    <body>
        <p>Try using a @Html.ActionLink("Service Principal", "UsingSP").</p>
        <p>Try using a @Html.ActionLink("Credential Delegation", "UsingDelegation").</p>
    </body>
</html>
