<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserContext</title>
</head>
<body>
    <div> 
        <h1>Welcome @ViewBag.SqlUserName</h1>
    </div>
</body>
</html>
